{% extends 'base.html' %}
{% block container %}
  <div class="block">
    <div class="module">
      <div class="module__content">
        <h2><b>Акселератор "Превосходство"</b> - это платформа задача которой помочь перейти от идеи до полноценного построения бизнеса за счет Акселерационных программ на выбор стартапа. Маркетплейс Акселераторов работает по Saas-модели с
          <a href="/tarifs">оплатой доступов</a> Акселератору. <br><br>Доступ вы можете приобрести в нашем
          <a href="http://t.me/SuperiorityAiBot">телеграм-боте</a>. </h2>
      </div>
    </div>
  </div>
{% endblock %}